<form action="/payment/result">

  <div>
    <label for="min">APR</label>

    <input id="min" type="text" name="min">
  </div>

  <div>
    <label for="max">Number of years</label>

    <input id="max" type="text" name="max">
  </div>
  
  <div>
    <label for="max">Number of years</label>

    <input id="max" type="text" name="max">
  </div>

  <button>Calculate monthly payment</button>
</form>
