<form action="/square_root/result">

  <div><label for="sq_root">Enter a number</label></div>

  <div><input id="sq_root" type="text" name="new"></div>
  
  <button>Calculate square root</button>
</form>
