<form action="/square_root/results">

  <div><label for="sq_root">Enter a number</label></div>

  <div><input id="sq_root" type="text" name="number" placeholder="What number do you want to"></div>
  
  <button>Calculate square root</button>
</form>
